* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:wght@300;400;600&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Header and Footer
@import 'partials/header';

@import 'partials/footer';

// dashboard
@import 'partials/dashboard';

// Homepage
@import 'partials/jumbotron';

@import 'partials/categories-filters';

@import 'partials/users-cards';

@import 'partials/order-info';
@import 'partials/checkout';
@import 'partials/success';
@import 'partials/create-edit';
@import 'partials/login';
@import 'partials/register';
@import 'partials/contatti';
@import 'partials/chisiamo';











// Restaurant page
@import 'partials/foods-cards';
.swal-footer{
    background-color:  #FE5E49;;
}
.swal-text{
    color: #FE5E49;
    font-size: 1.5rem;
}
.swal-button-container{
    background-color: white;
    color: #FE5E49;
    .swal-button .swal-button--confirm{
        background-color: white;
        color: #FE5E49 ;
    }
}

.swal-modal{
    background-color: white;
    .swal-button-container{
        .swal-button {
            background-color: white;
            color: #FE5E49 ;
        }
    }
}
.popup{
    display: none;
}
.popup_layout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ccc;
    margin: 0;
}
.if_open{
    display: none;
}
#layout{
    min-height: 1600px;
}

body {
    position: relative;
    z-index: 2;
    background-color: #f5f5f5;
}
#layout_style_1 {
    position: absolute;
    top: 200px;
    right: 0;
    z-index: -1;
    width: 60%;
}

#layout_style_2 {
    position: absolute;
    top: 600px;
    left: 0;
    z-index: -2;
    width: 60%;
}

// hover a
a:hover{
    text-decoration: none;
}
@media all and ( min-width : 576px){
    .if_open {
        display: block;
    }
}

@media all and ( min-width:1400px){
   .container_xxl_{
       max-width: 1380px;
   }
}
@media all and (max-width:576px){
    #check_mobile{
        margin-top: 80vh;
    }
    #layout{
        min-height: 0;
        margin-bottom: 30px;
        position: relative;
    }
    #layout_style_1 {
        position: absolute;
        top: 200px;
        right: 0;
        z-index: -1;
        min-width: 103%;
    }
    
    #layout_style_2 {
        position: absolute;
        top: 616px;
        left: 0;
        z-index: -2;
        min-width: 95%;
    }

    #jumbotron {
        display: block;
        margin-bottom: 350px;
        #img-jumbotron {
            img {
                width: 100%;
            }
        }
        #text-jumbotron {
            padding-top: 50px;
            h2 {
                margin-top: 20px;
            }
        }
    }

    #users {
        #users-cards {
            li {
                width: 80%;
                background-color: 000;
            }
        }
    }
}