* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:wght@300;400;600&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Header and Footer
@import 'partials/header';

@import 'partials/footer';


// Homepage
@import 'partials/jumbotron';

@import 'partials/foods-cards';


// hover a
a:hover{
    text-decoration: none;
}

// Layout con "Macchie "
#layout{
    position: relative;
    min-height: 2500px;
}

// macchia rossa 
#layout_style_1{
        position: absolute;
        top: 190px;
        left: 455px;
        z-index: 2;
}
// macchia blu 
#layout_style_2{
    position: absolute;
    top: 986px;
    left: 0;
}


@media all and ( min-width : 1400px){
   .container_xxl_{
       max-width: 1380px;
   }
}