
#chisiamo{
    margin-top: 120px;
    margin-bottom: 120px;

    #titolo_chisiamo{
        color: #FE5E49;
        margin-bottom: 24px;
    }
    p{
        font-size: 1.3rem;
        color: #686767;
    }
}
