#dashboard{
    display: flex;
    max-height: 650px;
    min-height: 100vh;
    margin: 40px 0;

    #menu_select{
        width: 30%;
        padding: 16px;
        background-color: #009FB7;
        color: white;
        overflow-y: scroll;
        h2{
            font-size: 3rem;
        }
        .dashboard_action{
            background-color: white;
            padding: 8px;
            color: #009FB7;
            display: block;
            margin-bottom: 16px;
            width: 100%;
            font-size: 1.2rem;
        }
        .img_restaurant{
            max-width: 100%;
            height: auto;
            margin-bottom: 32px;
            border: 5px solid white;
        }

    }
    #view{
        width: 70%;
        padding: 0 16px;
        overflow-y: scroll;
        h2{
            color: #FE5E49;
            font-size: 2rem;
            margin-top: 16px;
            font-family: 'rubik'sans-serif;
            font-weight: bold;
        }
        .riga_ordine{
            border-bottom: 1px solid #009FB7;
            padding: 8px 0;
        }
        .riga_ordine_head{
            background-color: #009FB7;
            // border: 3px solid white;
            align-items: center;
        }
        .head_table{
            color: white;
            font-size: 1.2rem;
        }
        .info_order{
            color: #009FB7;
        }
        #orders-mobile{
            display: none;
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        width: 100%;
        justify-content: space-evenly;
        li{
            height: 500px;
            width: 40%;
            margin: 20px 20px 0 0;
            border-radius: 15px;
            box-shadow: 0px 0px 30px 6px #b5b5b5;

            #action_food{
                display: flex;
                justify-content: space-between;
                background-color: #FE5E49;
                color: white;
                padding:  8px;
                height: 8%;

                a{
                    color: white;
                }
                .nascondi{
                    cursor: pointer;
                }
                .rendi_visibile{
                    cursor: pointer;
                }
                .pubblica{
                    cursor: pointer;
                }
            }
            .card-body_food{
                padding: 16px 10px;
                height: 57%;
                display: flex;
                flex-direction: column;
                background-color: white;
                color: #009FB7;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
            }
            .card-img-food{
                height: 35%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                box-shadow: none;
                margin-bottom: 0;
            }
            .card-title_food{
                color: #FE5E49;
                font-weight: bold;
                font-size: 1.5rem;
            }
            .card-text_food{
                color: #333333;
                flex-grow: 1;
                overflow-y: scroll;
                font-size: 1.1rem;

            }
            .cart-food-price{
                color:#FE5E49 ;
                font-size: 1rem;
                text-align: end;
                padding-right: 8px;
            }
            .tab_order{
                border: 1px solid #009FB7;
            }
        }
        
    }
}

// Mobile 
@media all and (max-width:576px){
    #orders{
        display: none;
    }
    #dashboard{
        display: flex;
        flex-direction: column;
        max-height: 50000px;
        min-height: 0;
        margin: 40px 0;
        border: 20px solid #009FB7;
    
        #menu_select{
            width: 100%;
            padding: 0;
            background-color: #009FB7;
            color: white;
            overflow-y: none;
            .dashboard_action{
                background-color: white;
                padding: 8px;
                color: #009FB7;
                display: block;
                margin-bottom: 16px;
                width: 100%;
                font-size: 1.6rem;
            }
            .img_restaurant{
                max-width: 100%;
                height: auto;
                margin-bottom: 32px;
            }
    
        }
        #view{
            width: 100%;
            padding: 0;
            overflow-y: none;
            background-color: #009FB7;
            h2{
                color: white;
                margin-top: 16px;
                text-align: center;
            }
            .riga_ordine{
                border-bottom: 1px solid #009FB7;
                padding: 8px 0;
            }
            .riga_ordine_head{
                background-color: #009FB7;
                margin: 64px 0;
                border: 8px solid white;
                padding: 0;
            }
            .number_order{
                color: white;
                padding: 8px;
                text-align: end;
                width: 100%;
            }
            .intestazione{
                background-color: white;
                color: #009FB7;
                padding: 8px;
            }
            .ordine_selected{
                padding: 8px;
                font-size: .8rem;
            }
            .head_table{
                color: white;
                font-size: 1.2rem;
                padding-left: 0;
                padding-right: 0px;
                margin: 16px 0;
                a{
                    color: #009FB7;
                }
                .info_btn{
                    width: 100%;
                    display: inline-block;
                }
            }
            #info_last{
                margin-bottom: 0;
            }
            .info_order{
                color: #009FB7;
                margin-right: 8px;
            }
            #foods{
                margin-top: 60px;
            }
            #orders-mobile{
                display: block;
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            li{
                width: 100%;
                list-style: none;
                margin-right: 0;
                margin-bottom: 20px;
    
                #action_food{
                    display: flex;
                    justify-content: space-between;
                    background-color: #FE5E49;
                    color: white;
                    padding: 8px;
                    height: 8%;
                    #edit_pulsante{
                        color: white;
                    }
    
                    a{
                        color: #009FB7;
                    }
                    .nascondi{
                        cursor: pointer;
                    }
                    .pubblica{
                        cursor: pointer;
                    }
                }
                .card-body_food{
                    height: 57%;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    color: #009FB7;
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                    padding: 16px 10px;
                }
                .card-img-food{
                    width: 100%;
                    height: 35%;
                    object-fit: cover;
                }
                .card-title_food{
                    color: #FE5E49;
                    font-size: 1.5rem;
                }
                .card-text_food{
                    flex-grow: 1;
                    overflow-y: scroll;
                    font-size: 1.1rem;
    
                }
                .cart-food-price{
                    color: #FE5E49 ;
                    font-size: 1rem;
                    text-align: end;
                    font-size: 2rem;
                }
                .tab_order{
                    border: 1px solid #009FB7;
                }
            }
            
        }
    }
}