#dashboard{
    display: flex;
    // border: 1px solid black;
    height: 100vh;
    margin: 20px 0;

    #menu_select{
        width: 30%;
        height: 100%;
        padding: 16px;
        background-color: #009FB7;
        color: white;
        .dashboard_action{
            background-color: white;
            padding: 8px;
            color: #009FB7;
            display: block;
            margin-bottom: 16px;
            width: 100%;
        }
        .img_restaurant{
            max-width: 100%;
            height: auto;
        }

    }
    #view{
        width: 70%;
        padding: 16px;
        height: 100vh;
        overflow-y: scroll;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            list-style: none;
            margin-right: 10px;
            margin-bottom: 20px;
            #action_food{
                display: flex;
                justify-content: space-between;
                background-color: #009FB7;
                color: white;
                padding: 0 8px;
                a{
                    color: white;
                }
                #nascondi{
                    cursor: pointer;
                }
            }
        }
    }
}