header{
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // logo 
    img{
        color: #009FB7;
        width: 250.75px;
        height: 69.2px;
    }

    // hamburger menu 
    .fa-bars{
        display: none;
        color: #009FB7;
    }

    // icona carrello 
    .fa-cart-arrow-down{
        font-size: 32px;
        margin-right: 40px;
        color: #009FB7;
        &:hover{
            transform: scale(1.5);
        }
    }
    
    .accedi_logout_btn{
        display: inline-block;
        background: #009FB7;
        border-radius: 48px;
        padding: 12px 32px;
        width: 209px;
        height: 62px;
        &:hover{
            background-color: #f8fafc;
            border: 2px solid #009FB7;
            a{
                color: #009FB7;
            }
        }

        // Pulsante accedi link
        a{
            font-family: 'Rubik', sans-serif;
            font-size: 32px;
            color: white;
            display: inline-block;
            width: 100%;
            height: 100%;
            line-height: 38px;
            text-align: center;
        }
    }
    #dropdown-menu{
        display: none;
    }
    #header_component{
        display: none;
    }

}

@media all and (max-width:576px){
    #Action_user{
        display: none;
    }
    #accedi_btn{
        display: block;
    }
    // hamburger menu 
    header {
        .fa-cart-arrow-down{
            font-size: 32px;
            margin-right: 40px;
            color: white;
        }
        .fa-bars{
            display: block;
            color: #009FB7;
            font-size: 32px;
            cursor: pointer;
        }
        #dropdown-menu{
            animation-name: drop-menu;
            animation-duration: 400ms;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            z-index: 3;
            background-color: #009FB7;
            .close_menu{
                color: white;
            }
        }
        #menu_top{
            display: flex;
            justify-content: space-between;
            padding-top:16px;
            margin-bottom: 20px;
        }
        #header_component{
            display: block;
        }
        // immagine default 
        .img_default{
            width: 70%;
            height: auto;
            margin-left: 30%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        // pulsante accedi su mobile 
        .accedi_mobile{
            font-family: 'Rubik', sans-serif;
            width: 40%;
            margin: 0 auto;
            padding: 12px 32px;
            text-align: center;
            display: inline-block;
            color: white;
            border-radius: 3px;
            border: 2px solid white;
            font-size: 18px;
            &:hover{
                background-color: white ;
                color: #009FB7;
            }
        }
        #testo_descrizione{
            margin-top: 50px;
            width: 60%;
            color: white;
            font-family: 'Righteous', cursive;
            font-size: 20px;
        }
        
      
    }
    
   
    
}



    

@keyframes drop-menu {
    from {
        display: block;
            position: absolute;
            left: 0;
            top: 100vh;
            height: 100vh;
            width: 100%;
            z-index: 3;
            background-color: #009FB7;
    }
    to {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 3;
        background-color: #009FB7;
    }
}