
#jumbotron {
    display: flex;
    justify-content: space-between;
    height: 400px;
    margin-bottom: 300px;
    #text-jumbotron {
        padding-top: 200px;
        h1 {
            color: #fff;
        }
        h2 {
            color: #fff;
            margin-top: 100px;
        }
    }
}