#users {
    h1 {
        color: #fff;
    }
    .ricerca_empty{
        margin: 30px 0;
        font-size: 2rem;
        color: #605a5a;
    }
    #users-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        li {
            height: 350px;
            width: 30%;
            margin: 10px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.8);
            overflow: auto;
            box-shadow: 0px 5px 10px 3px rgba(115, 115, 115, 0.05);
            img {
                height: 50%;
                width: 100%;
                border-radius: 10px 10px 0 0;
                object-fit: cover;
                object-position: top;
            }
            h3 {
                color: #ff5e49;
                font-weight: bold;
                margin-left: 10px;
                margin-top: 10px;
            }
            h5 {
                margin-left: 10px;
                color: #000;
            }
        }
        .div_categ{
            margin-top: 32px;
            padding: 0 10px ;
        }
        .category_name{
            color: #ff5e49;
            font-weight: bold;
            margin-right: 16px;
        }
        .star_icon{
            color: #00a0b7 ;
        }
        li:hover {
            border: 2px solid #00a0b7;
            transition: 0.3s;
        }
    }
}